.aboutus-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.part-1-aboutus,.part-2-aboutus{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: 20px;
}

.part-1-content-aboutus,.part-2-content-aboutus{
    width: 80%;
    font-size: 20px;
    text-align: justify;
}

.part-1-img-aboutus,.part-2-img-aboutus{
    width: 30%;
}

.part-2-aboutus{
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 30px;
}

.part-2-content-aboutus{
    margin-right: 0;
    margin-left: 10px;
}

.part-1-lenstart-img-about{
    width: 100%;
    height: 40vw;
    z-index: -20;
}
.part-1-lenstart-img-about img{
    width: 100%;
    height: 100%;
}



@media only screen and (max-width:800px){
    .part-1-content-aboutus,.part-2-content-aboutus{
        width: 90%;
    }
    .part-1-img-aboutus,.part-2-img-aboutus{
        width: 90%;
    }
}