.main-home-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-part-1-img{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-part-1-img img{
    width: 60%;
    position: relative;
    top:100px;
}

.home-part-2-content{
    background-color:rgb(26, 26, 71);
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.home-content{
    margin-block: 20px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    width: 40%;
}

.home-h1{
    font-size: 19px;
    
}

.home-h2{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.home-h3{
    margin-top: 30px;
    font-size: 16px;
}


.home-part-3-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.home-part-3-btn button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.home-part-4-heading{

    width: 100%;
    margin-block: 20px;

}

.home-h4{
    width: 50%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(26, 26, 71);
}

.border-line{
    height: 5px;
    width: 50%;
    background-color: rgb(26, 26, 71);
}

.home-part-5-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

.ceo-content{
    width: 30%;
    margin-inline: 30px;
    position: relative;
    top:100px;
    background-color: whitesmoke;
}

.ceo-img{
    width: 100%;
}

.ceo-img img{
    width: 100%;
    height: 350px;
}

.ceo-about{
    font-size: 18px;
    width: 95%;
    margin-left: 5px;
}
.designation-ceo{
    margin-top: 20px;
    font-weight: bold;
    margin: 5px;
    font-size: 18px;
    margin-top: 10px;
}


.home-part-6-content{

    width: 100%;
    background-color:rgb(26, 26, 71) ;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


.ceo-video{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}

.ceo-video img{
    width: 60%;
}


.home-h6{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-block: 20px;
}

.home-box{
    width: 20%;
    border: 1px solid white;
    background-color:rgb(26, 26, 71);
    color: white;
    padding: 10px;
}

.box-img{
    width: 100%;

}

.box-img img{
    width: 100%;
    height: 200px;
}

.home-box div{
    font-size: 20px;
    text-transform: capitalize;
}

.home-part-7-content{

    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
}

.home-part-7-img{
    width: 100%;
    
    /* border-radius: 10px; */
}

.home-part-7-img img{
    width: 80%;
    height: 300px;
    border-radius: 10px;
    border: 1px solid rgb(26, 26, 71);
}

.part-7-name-tag{
    margin-left: 30px;
    width: 60%;
    border-radius: 10px;
    border: 1px solid black;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -40px;
    background-color: white;
}

.home-ourteam{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


@media only screen and (max-width:800px){
    
}