.lenstart-main-body{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.part-1-lenstart{
    width: 100%;
}



.part-1-lenstart-content{
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    margin: 30px;
    margin-top:10%;
    margin-inline: 40px;
    position: absolute;
}

.lenstart-btn{
    margin-top: 15vw;
    
    background-color: rgb(26, 26, 71);
    color: white;
}

.part-1-lenstart-img{
    width: 100%;
    height: 100vh;
    z-index: -20;
}

.part-1-lenstart-img img{
    width: 100%;
    height: 100%;    
}

.part-2-lenstart{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    align-items: center;
    width: 90%;
}

.part-2-main-lenstart{
    border: 1px solid rgb(26, 26, 71);
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    width: 80%;
}

.vertical-line{
    width: 1%;
    height: 25vh;
    background-color: rgb(26, 26, 71);
}

.lenstart-icon{
    width: 20%;

}

.lenstart-icon img{
    width: 70%;
}

.lenstart-part-2-content{
    width: 70%;
    color: rgb(26, 26, 71);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.heading{
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.main-text{
    font-size: 18px;
}

.main-text span{
    font-weight: bold;
}

@media only screen and (max-width:800px){
    .part-1-lenstart-content{
        width: 80%;
    }
    .lenstart-btn{
        margin-top: 20vw;
        font-size: 18px;
    }
    .part-2-lenstart{
        margin-top: 20vw;
    }
    .part-1-lenstart-img{
        height: 100vw;
    }
    .lenstart-icon{
        width: 100%;
    }
    .lenstart-part-2-content{
        width: 95%;
        margin: 10px;
        align-items: center;
    }
    .vertical-line{
        display: none;
    }
    .part-2-main-lenstart{
        /* width: %; */
        /* margin-inline: 0px; */
    }
}