/* Desktop View */
.main-testimonial-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color:rgb(9, 9, 78);
}

.testimonial-content-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 95%;
    height: 30%;
    margin: 20px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.testimonial-img{
    width:40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.testimonial-content{
    width:35%;
    box-sizing: border-box;
    border: 2px solid rgb(9, 9, 78);
    border-radius: 10px;
    padding: 20px;
    font-size: 17px;
}

.testimonial-img img{
    width:60%;
    border-radius: 10px;
    box-shadow: -18px 15px 6px rgb(9, 9, 78);
}

.testimonial-name{
    /* font-size: 20px; */
    font-weight: bold;
    margin: 10px;
}


/* Mobile View */

@media only screen and (max-width:700px){

    .testimonial-img{
        width:90%;
        
    }

    .testimonial-content{
        width:80%;
        margin-top: 20px;
    }

    .testimonial-img img{
        width:250px;
    }

}